@import url(https://db.onlinewebfonts.com/c/6d12d9e68ef2f4aff9db96bb69c3c27f?family=Poppins+Light);

@font-face {
     font-family: "Poppins Black";
     src: url("https://db.onlinewebfonts.com/t/a189a0696560d69bfb9a3803a0122b5b.eot");
     src: url("https://db.onlinewebfonts.com/t/a189a0696560d69bfb9a3803a0122b5b.eot?#iefix")format("embedded-opentype"),
     url("https://db.onlinewebfonts.com/t/a189a0696560d69bfb9a3803a0122b5b.woff2")format("woff2"),
     url("https://db.onlinewebfonts.com/t/a189a0696560d69bfb9a3803a0122b5b.woff")format("woff"),
     url("https://db.onlinewebfonts.com/t/a189a0696560d69bfb9a3803a0122b5b.ttf")format("truetype"),
     url("https://db.onlinewebfonts.com/t/a189a0696560d69bfb9a3803a0122b5b.svg#Poppins Black")format("svg");
     font-weight: normal;
     font-style: normal;
 }
  
  
  
  
 @font-face {
     font-family: "Poppins Bold";
     src: url("https://db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.eot");
     src: url("https://db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.eot?#iefix")format("embedded-opentype"),
     url("https://db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.woff2")format("woff2"),
     url("https://db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.woff")format("woff"),
     url("https://db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.ttf")format("truetype"),
     url("https://db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.svg#Poppins Bold")format("svg");
     font-weight: normal;
     font-style: normal;
 }
  
  
  @font-face {
    font-family: 'poppinslight';
    src: url('../components/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'poppinsmedium';
    src: url('../components/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinsregular';
    src: url('../components/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'poppinssemibold';
    src: url('../components/fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  